<%= form_with(model: organization) do |form| %>
  <% if organization.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(organization.errors.count, "error") %> prohibited this organization from being saved:</h2>

      <ul>
        <% organization.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :endpoint, style: "display: block" %>
    <%= form.text_field :endpoint %>
  </div>

  <div>
    <%= form.label :access_key, style: "display: block" %>
    <%= form.text_field :access_key %>
  </div>

  <div>
    <%= form.label :secret_key, style: "display: block" %>
    <%= form.text_field :secret_key %>
  </div>

  <div>
    <%= form.label :files, style: "display: block" %>
    <%= form.file_field :files %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
