<div id="<%= dom_id organization %>">
  <p>
    <strong>Title:</strong>
    <%= organization.title %>
  </p>

  <p>
    <strong>Endpoint:</strong>
    <%= organization.endpoint %>
  </p>

  <p>
    <strong>Access key:</strong>
    <%= organization.access_key %>
  </p>

  <p>
    <strong>Secret key:</strong>
    <%= organization.secret_key %>
  </p>

  <div>
    <strong>File</strong>
    <%= link_to "download file", organization.files.blobs[0].url %>
  </div>

  <p>
    <%= link_to "Show this organization", organization %>
  </p>
</div>
